{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Регистрация</h3>
    <div class="col-lg-3">
        <input placeholder="Телефон" class="form-control" id="mobile_phone"/>
        <input placeholder="Пароль" type="password" class="form-control" id="password"/>
        <p id="error-text"></p>
        <input class="btn btn-primary mt-3" type="submit" id='send-data' value="Зарегистрироваться"/>
    </div>
    <!-- <div>
        <p><a href="#">Уже зарегистрированы?</a></p>
    </div> -->
</div>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- <script src="{% static 'js/utils.js'%}"></script> -->
    <script>

const redStyle = "border-color:#f71616; box-shadow: 0 0 7px #d45252;"

async function postData(url, data) {
    const response = await fetch(url, {
        method: 'POST',
        cache: 'no-cache', 
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
        //   "X-CSRFTOKEN":  csrf_token
        },
        redirect: 'follow',
        referrerPolicy: 'no-referrer', 
        body: JSON.stringify(data) 
    });
      return await response; 
  }

const register_url = 'http://127.0.0.1:8000/api/users/register'

const mobile_phone = document.getElementById('mobile_phone')
const password = document.getElementById('password')
const error_text = document.getElementById('error-text')

document.getElementById('send-data').onclick = () => {
    sendCredentials()
}

function setStyle(elems, style){
    elems.forEach((el) => {
        el.style.cssText = style
    })
}

function setStyleForEmpty(elems){
    elems.forEach((el) => {
        if (!el.value){
            setStyle([el], redStyle)
        }
    })
}

function setErrorText(text){
    setStyle([error_text], "color:#f71616")
    error_text.innerHTML = text
}

function removeErrorText(){
    error_text.innerHTML = ''
}


function addToLocalStorage(obj){
    const refresh = obj.refresh
    const access = obj.access

    window.localStorage.setItem('access', access)
    window.localStorage.setItem('refresh', refresh)
}


async function sendCredentials(){

    if (!mobile_phone.value || !password.value) {
        setStyleForEmpty([mobile_phone, password])
        setErrorText('Заполните обязательные поля')
        return
    }
        const data = {
            mobile_phone: mobile_phone.value,
            password: password.value
        }

    postData(register_url, data).then((data) => {
        if (data.ok) {
            data.json().then((data) => {
                removeErrorText()
                setStyle([mobile_phone, password], '#fff')
                addToLocalStorage(data.data)
            })
        } else {
            data.json().then((data) => {
                setErrorText(data.error.description)
            })
        }
        })

    } 


    </script>
</body>
</html>